html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background: #f3f3f3;
  font-family: 'Poppins', sans-serif;
}

.wrapper {
  max-width: 1170px;
  margin: 0 auto;
  position: relative;
  padding: 105px 0 120px 0;
}

@media (max-width: 425px) {
  .wrapper {
    padding: 70px 0 0 0;
  }
}

.container {
  padding: 0 30px;
  width: 100%;
  box-sizing: border-box;
}

@media (max-width: 425px) {
  .container {
    padding: 0 10px;
  }
}

.checkbox {
  border-bottom: 1px solid #ccc;
  font-size: 1.125em;
  text-transform: uppercase;
  font-weight: 500;
  padding: 0 0 10px;
  margin: 0 0 10px;
}

@media (max-width: 425px) {
  .checkbox {
    font-size: 1em;
  }
}

.checkbox label {
  cursor: pointer;
}

.checkbox span {
  display: inline-block;
  vertical-align: -5px;
  width: 25px;
  height: 25px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
  margin: 0 10px 0 0;
}

@media (max-width: 425px) {
  .checkbox span {
    width: 20px;
    height: 20px;
  }
}

.checkbox input {
  display: none;
}

.checkbox input:checked + span {
  background: #e91e63;
  border-color: #e91e63;
}

.checkbox input:checked + span:after {
  content: '';
  width: 100%;
  height: 100%;
  display: block;
  background: url("../img/checked.svg") center center no-repeat;
  background-size: 70%;
}

.input-field {
  width: 100%;
  border: none;
  outline: none;
  border-bottom: 1px solid #ccc;
  background: none;
  font: 1.125em 'Poppins', sans-serif;
  margin: 30px 0 30px;
}

@media (max-width: 425px) {
  .input-field {
    font-size: 1em;
  }
}

.datepicker {
  border-bottom: 1px solid #ccc;
  margin: 0 0 30px;
}

.datepicker label {
  font: 1.125em 'Poppins', sans-serif;
  color: #888 !important;
}

.datepicker hr {
  display: none;
}

.controls {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.controls__container {
  max-width: 1170px;
  margin: 0 auto;
  z-index: 1;
  background: #f3f3f3;
  padding: 0 30px;
  box-sizing: border-box;
}

@media (max-width: 425px) {
  .controls__container {
    padding: 0 10px;
  }
}

.controls__icons {
  position: absolute;
  top: 10px;
  right: 0;
}

.header {
  height: 75px;
  background: #f3f3f3;
  position: fixed;
  width: 100%;
  z-index: 100;
}

@media (max-width: 425px) {
  .header {
    height: 55px;
  }
}

.header__container {
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  border-bottom: 1px solid #e6e3e0;
  padding: 0 30px;
}

@media (max-width: 425px) {
  .header__container {
    padding: 0 10px;
  }
}

.header__logo {
  font: 700 2.25em "Lobster Two";
  color: #e91e63;
}

@media (max-width: 425px) {
  .header__logo {
    font-size: 1.6em;
  }
}

.user {
  text-align: center;
  margin: 0 0 30px;
}

.user__photo {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 3px solid #e91e63;
  overflow: hidden;
  margin: 0 auto;
}

@media (max-width: 425px) {
  .user__photo {
    width: 100px;
    height: 100px;
  }
}

.user__photo img {
  max-width: 100%;
}

.user__name {
  font: bold 2.25em "Lobster Two";
  color: #e91e63;
  margin: 0 0 5px;
}

@media (max-width: 425px) {
  .user__name {
    font-size: 1.6em;
  }
}

.user__status {
  font-size: 1.625em;
  font-weight: 500;
}

@media (max-width: 425px) {
  .user__status {
    font-size: 1.125em;
  }
}

.user__rate {
  margin: 0 0 5px;
}

.star__item {
  background: url("../img/star.svg") no-repeat;
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 0 3px;
}

@media (max-width: 425px) {
  .star__item {
    width: 20px;
    height: 20px;
  }
}

.chat {
  display: flex;
  flex-direction: column;
}

.chat__item {
  width: 50%;
  display: flex;
  align-items: flex-end;
  margin: 0 0 15px;
}

@media (max-width: 767px) {
  .chat__item {
    width: 100%;
  }
}

.chat__item_right {
  margin-left: auto;
}

.chat__item_right .chat__user {
  order: 1;
}

.chat__user {
  width: 150px;
}

@media (max-width: 425px) {
  .chat__user {
    width: 80px;
  }
}

.chat__messages {
  width: calc(100% - 150px);
}

@media (max-width: 425px) {
  .chat__messages {
    width: calc(100% - 80px);
  }
}

.chat__photo {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
}

@media (max-width: 425px) {
  .chat__photo {
    width: 50px;
    height: 50px;
  }
}

.chat__photo img {
  max-width: 100%;
}

.bubble {
  padding: 20px 30px;
  border-radius: 20px;
  font-size: 1.125em;
  font-weight: 300;
  background: #fce4ec;
  margin: 0 0 15px;
  animation: bubble 0.3s ease-in-out;
}

@media (max-width: 425px) {
  .bubble {
    font-size: 1em;
    padding: 15px 20px;
  }
}

.bubble_user {
  background: #f8bbd0;
}

.bubble_preload {
  width: 40px;
}

.bubble:last-child {
  margin: 0;
}

.bubble__text {
  animation: bubbleText 1.3s ease-in-out;
}

.bubble__map {
  padding: 0;
  width: 100%;
  height: 185px;
  overflow: hidden;
  position: relative;
}

.bubble__map-text {
  position: absolute;
  bottom: 0;
  height: 30%;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
}

@keyframes bubble {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes bubbleText {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.btn-reload {
  display: block;
  color: white;
  text-decoration: none;
  font-size: 1.25em;
  line-height: 34px;
  font-weight: 300;
  background: #e91e63;
  background-size: 12%;
  padding: 0 50px 0 20px;
  border-radius: 3px;
  position: relative;
}

.btn-reload:after {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 6px;
  right: 10px;
  background: url("../img/reload.svg") no-repeat;
}

@media (max-width: 425px) {
  .btn-reload {
    width: 20px;
    height: 20px;
    background: url("../img/reload-pink.svg") no-repeat;
    font-size: 0;
    padding: 0;
  }
  .btn-reload:after {
    display: none;
  }
}

.buttons-block {
  width: 100%;
}

.buttons-block__wrap {
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
}

.btn {
  text-transform: uppercase;
  font-size: 1.25em;
  font-weight: 500;
  display: block;
  background: #e3e3e3;
  width: 50%;
  line-height: 50px;
  text-align: center;
  color: black;
  text-decoration: none;
  transition: all 0.3s ease;
  box-sizing: border-box;
}

.btn_br {
  border-right: 1px solid #ccc;
}

.btn_full {
  width: 100%;
}

.btn:hover {
  background: #ccc;
}

.preload {
  display: flex;
  justify-content: space-between;
}

.preload span {
  width: 10px;
  height: 10px;
  display: inline-block;
  background: #607d8b;
  border-radius: 50%;
  animation: preloader 0.5s infinite;
}

.preload span:nth-child(2) {
  animation-delay: 0.1s;
}

.preload span:nth-child(3) {
  animation-delay: 0.2s;
}

@keyframes preloader {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
