@import 'variables';

.btn-reload {
    display: block;
    color: white;
    text-decoration: none;
    font-size: 1.25em;
    line-height: 34px;
    font-weight: 300;
    background: $pink ;
    background-size: 12%;
    padding: 0 50px 0 20px;
    border-radius: 3px;
    position: relative;

    &:after {
        content: '';
        display: block;
        width: 20px;
        height: 20px;
        position: absolute;
        top: 6px;
        right: 10px;
        background:  url('../img/reload.svg') no-repeat;
    }

    @media(max-width: 425px) {
        width: 20px;
        height: 20px;
        background: url('../img/reload-pink.svg') no-repeat;
        font-size: 0;
        padding: 0;
        
        &:after {
            display: none;
        }
    }
}

.buttons-block {
    
    width: 100%;

    &__wrap {
        max-width: 1170px;
        margin: 0 auto;
        display: flex;
    }
}

.btn {
    text-transform: uppercase;
    font-size: 1.25em;
    font-weight: 500;
    display: block;
    background: #e3e3e3;
    width: 50%;
    line-height: 50px;
    text-align: center;
    color: black;
    text-decoration: none;
    transition: all 0.3s ease;
    box-sizing: border-box;

    &_br {
        border-right: 1px solid #ccc;
    }

    &_full {
        width: 100%;
    }

    &:hover {
        background: #ccc;
    }
}