body {
    background: #f3f3f3;  
    font-family: 'Poppins', sans-serif;
}

.wrapper {
    max-width: 1170px;
    margin: 0 auto;
    position: relative;
    padding: 105px 0 120px 0;

    @media(max-width: 425px) {
        padding: 70px 0 120px 0;
    }
}

.container {
    padding: 0 30px;
    width: 100%;
    box-sizing: border-box;

    @media(max-width: 425px) {
        padding: 0 10px;  
    }
}

.checkbox {
    border-bottom: 1px solid #ccc;
    font-size: 1.125em;
    text-transform: uppercase;
    font-weight: 500;
    padding: 5px 0;

    @media(max-width: 425px) {
        font-size: 1em;
    }

    &:last-child {
        border: none;
    }

    label {
        cursor: pointer;
    }

    span {
        display: inline-block;
        vertical-align: -5px;
        width: 25px;
        height: 25px;
        border: 1px solid #ccc;
        border-radius: 3px;
        box-sizing: border-box;
        margin: 0 10px 0 0;

        @media(max-width: 425px) {
            width: 20px;
            height: 20px;
        }
    }

    input {
        display: none;

        &:checked {
            & + span {
                background: $pink;
                border-color: $pink;

                &:after {
                    content: '';
                    width: 100%;
                    height: 100%;
                    display: block;
                    background: url('../img/checked.svg') center center no-repeat;
                    background-size: 70%;
                }
            }
        }
    }

    &__button {
        text-transform: uppercase;
        font-size: 1.25em;
        font-weight: 500;
        display: block;
        background: #e3e3e3;
        width: 50%;
        line-height: 50px;
        text-align: center;
        color: black;
        text-decoration: none;
        transition: all 0.3s ease;
        box-sizing: border-box;
        width: 100%;
        border: none;
        outline: none;
    }
}

.input-field{
    width: 100%;
    border: none;
    outline: none;
    border-bottom: 1px solid #ccc;
    background: none;
    font: 1.125em 'Poppins', sans-serif;
    margin: 30px 0 30px;  

    @media(max-width: 425px) {
        font-size: 1em;
    }
}

.datepicker {
    
    padding: 0 0 30px;
    z-index: 10;
    position: relative;
    background: #f3f3f3;

    > div {
        width: 100% !important;
    }

    input {
        width: 100% !important;
        border-bottom: 1px solid #ccc !important;
        margin: 0 !important;
    }
    
    label {
        font: 1.125em 'Poppins', sans-serif;
        color: #888 !important;
    }
    hr {
        display: none;
    }
}
.controls{
    position: fixed;
    bottom: 0;
    width: 100%;

    &__container {
        max-width: 1170px;
        margin: 0 auto;
        z-index: 1;
        background: #f3f3f3;
        padding: 0 30px;
        box-sizing: border-box;
        
        @media(max-width: 425px) {
            padding: 0 10px;
        }

        &_np {
            padding: 0;
        }
    }

    &__icons {
        position: absolute;
        top: 10px;
        right: 0; 
    }

    &_checkbox {
        border-top: 1px solid #ccc;
    }
}

.founded_item {
    border-bottom: 1px solid #c8c8c8;
    line-height: 1.5;
    padding: 10px 0;
    cursor: pointer;
}