.preload {
    display: flex;
    justify-content: space-between;
    
    span {
        width: 10px;
        height: 10px;
        display: inline-block;
        background: #607d8b;
        border-radius: 50%;
        animation: preloader 0.5s infinite;

        &:nth-child(2) {
            animation-delay: 0.1s;
        }

        &:nth-child(3) {
            animation-delay: 0.2s;
        }
    }
}

@keyframes preloader {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}