@import 'variables';

.progress-bar {
    
    &__wrap {
        display: flex;
        align-items: center;
    }

    &__spinner {
        width: 40px;
        height: 40px;
        margin-left: auto;
    }

    p {
        width: calc(100% - 50px);
        float: left;
    }
}
.progress {
    height: 3px;
    background: $pink; 
    transition: all 0.3s linear;
    margin: 0 0 10px;
}

.point-item {
    display: flex;
    justify-content: space-between;
}

.rates {
    > span {
        display: inline-block;
        width: 20px;
        height: 20px;
        

        &.full {
            background: url('../img/star.svg');
        }

        &.half {
            background: url('../img/half-star.svg');
        }

        &.empty {
            background: url('../img/empty-star.svg');
        }
    }
}

.analizator {
    margin: 0 0 -100px;
}