.chat {
    display: flex;
    flex-direction: column;

    &__item {
        width: 50%;
        display: flex;
        align-items: flex-end;
        margin: 0 0 15px;
        
        @media(max-width: 767px) {
            width: 100%;
        }

        &_right {
            margin-left: auto;

            .chat__user {
                order: 1;
            }
        }
    }

    &__user {
        width: 150px;

        @media(max-width: 425px) {
            width: 80px;
        }
    }

    &__messages {
        width: calc(100% - 150px);

        @media(max-width: 425px) {
            width: calc(100% - 80px);
        }
    }

    &__photo {
        width: 90px;
        height: 90px;
        border-radius: 50%;
        overflow: hidden;
        margin: 0 auto;

        @media(max-width: 425px) {
            width: 50px;
            height: 50px;
        }

        img {
            max-width: 100%;
        }
    }
}

.bubble {
    padding: 20px 30px;
    border-radius: 20px;
    font-size: 1.125em;
    font-weight: 300;
    background: $hl-pink;
    margin: 0 0 15px;
    animation: bubble 0.3s ease-in-out;

    @media(max-width: 425px) {
        font-size: 1em;
        padding: 15px 20px;
    }

    &_user {
        background: $sl-pink;
    }

    &_preload {
        width: 40px;
    }

    &:last-child{
        margin: 0;
    }

    &__text {
        animation: bubbleText 1.3s ease-in-out;
    }

    &.n {
        display: none;
    }
}

@keyframes bubble {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes bubbleText {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}