@import 'variables';

.header {
    height: 75px;
    background: #f3f3f3;
    position: fixed;
    width: 100%;
    z-index: 100;

    @media(max-width: 425px) {
        height: 55px;
    }
    
    &__container {
        max-width: 1170px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        border-bottom: 1px solid $gray;
        padding: 0 30px;

        @media(max-width: 425px) {
            padding: 0 10px;
        }
    }

    &__logo {
        font: 700 2.25em $title;
        color: $pink;  

        @media(max-width: 425px) {
            font-size: 1.6em;
        }
    }
}