body {
    background: #f3f3f3;  
    font-family: 'Poppins', sans-serif;
}

.wrapper {
    max-width: 1170px;
    margin: 0 auto;
    position: relative;
    padding: 105px 0 0 0;

    @media(max-width: 425px) {
        padding: 70px 0 0 0;
    }
}

.container {
    padding: 0 30px;
    width: 100%;
    box-sizing: border-box;

    @media(max-width: 425px) {
        padding: 0 10px;
    }
}

.checkbox {
    border-bottom: 1px solid #ccc;
    font-size: 1.125em;
    text-transform: uppercase;
    font-weight: 500;
    padding: 0 0 10px;
    margin: 0 0 10px;

    @media(max-width: 425px) {
        font-size: 1em;
    }

    label {
        cursor: pointer;
    }

    span {
        display: inline-block;
        vertical-align: -5px;
        width: 25px;
        height: 25px;
        border: 1px solid #ccc;
        border-radius: 3px;
        box-sizing: border-box;
        margin: 0 10px 0 0;

        @media(max-width: 425px) {
            width: 20px;
            height: 20px;
        }
    }

    input {
        display: none;

        &:checked {
            & + span {
                background: $pink;
                border-color: $pink;

                &:after {
                    content: '';
                    width: 100%;
                    height: 100%;
                    display: block;
                    background: url('../img/checked.svg') center center no-repeat;
                    background-size: 70%;
                }
            }
        }
    }
}

.input-field{
    width: 100%;
    border: none;
    outline: none;
    border-bottom: 1px solid #ccc;
    background: none;
    font: 1.125em 'Poppins', sans-serif;
    margin: 0 0 30px;  

    @media(max-width: 425px) {
        font-size: 1em;
    }
}