.user {
    text-align: center;
    margin: 0 0 30px;
    
    &__photo {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        border: 3px solid $pink;
        overflow: hidden;
        margin: 0 auto;

        @media(max-width: 425px) {
            width: 100px;
            height: 100px;
        }

        img {
            max-width: 100%;
        }
    }

    &__name {
        font: bold 2.25em $title;
        color: $pink;
        margin: 0 0 5px;

        @media(max-width: 425px) {
            font-size: 1.6em;
        }
    }

    &__status {
        font-size: 1.625em;
        font-weight: 500;

        @media(max-width: 425px) {
            font-size: 1.125em;
        }
    }

    &__rate {
        margin: 0 0 5px;
    }
}

.star {
    &__item {
        background: url('../img/star.svg') no-repeat;
        display: inline-block;
        width: 30px;
        height: 30px;
        margin: 0 3px;

        @media(max-width: 425px) {
            width: 20px;
            height: 20px;
        }
    }
}